/* apply a natural box layout model to all elements, but allowing components 
to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration: none;
	color: inherit;
}
body {
	background-color: #ecf0f1;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

label{
	font-size: 1.2em;
}
.inputText{
	width: 100%;
	height: 45px;
	background-color: #FFF;
	border: 1px solid #F0F0F0;
	border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 15px;
	transition: .1s;
	font-size: 1.5em;
	color: #666;
	padding-left: 10px;
}
.inputText:focus{
	transition: .1s;
	-webkit-box-shadow: 0 0 10px 0 #d6d7f3;
	box-shadow: 0 0 10px 0 #d6d7f3;
	outline: #CCC;
}


/*   LOGIN    */

.loginWrapper{
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	background-image: url(../img/bgLogin.jpg);
	background-size: cover;
}
.loginWrapper:before{
	content: ' ';
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0.45;
}


.loginContainer{
	width: 80%;
	max-width: 350px;
	border-radius: 10px;
	box-sizing: border-box;
	background: #FFF;
	border: 1px solid #444;
	position: relative;
	margin: 0 auto;
	top: 20%;
	-webkit-box-shadow: 0 0 25px 0px #333;
	box-shadow: 0 0 25px 0px #333;
	overflow: hidden;
}

.loginTitle{
	width: 100%;
	padding: 20px;
}
.loginTitle h1{
	width: 100%;
	font-size: 2em;
	margin-bottom: 15px;
}
.loginTitle p {
	font-size: 1.1em;
	line-height: 1.25em;
}
.loginContainer{
	color: #777;
}
.loginContainer .logoEsba{
	width: 80%;
	height: 120px;
	margin-left: 10%;
	margin-bottom: 10px;
	display: inline-block;
	background-image: url(../img/esba_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: top;
	background-position: center;
}
.loginContainer .loginTitle h1{
	color: #5bba46;
}
.loginFormWrapper{
	width: 100%;
	background-color: #F9F9F9;
	padding: 20px;
	border-top: 1px solid #F1F1F1;
}
.loginFormWrapper .loginForm{
	width: 100%;
}

.loginFormWrapper .loginForm .loginBtn{
	width: 100%;
	height: 45px;
	display: inline-block;
}


/* DASHBOARD HOME */


.mainNav{
	width: 250px;
	height: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #279d59;
	z-index: 9999;
}
.mainNav a{
	width: 100%;
	height: 80px;
	position: relative;
	line-height: 82px;
	font-size: 1.1em;
	color: #FFF;
	letter-spacing: 1px;
	border-top: 1px solid #238d50;
	padding-left: 70px;
	display: inline-block;
	transition: .1s;
}
.mainNav a:hover{
	background-color: #238d55;
	transition: .1s;
}
.mainNav a:last-child{
	border-bottom: 1px solid #238d50;
}
.mainNav a:before{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: 25px;
	left: 20px;
	background-size: cover;
}
.mainNav .logo{
	width: 100%;
	height: 150px;
	padding: 30px;
	background-image: url(../img/esba_logo.png);
	background-size: 85%;
	background-attachment: top;
	background-position: center;
	background-repeat: no-repeat;
}
.homeBtn:before{
	background-image: url(../svg/home.svg);
}
.classBtn:before{
	background-image: url(../svg/classes.svg);
}
.messagesBtn:before{
	background-image: url(../svg/speech.svg);
}
.supportBtn:before{
	background-image: url(../svg/support.svg);
}
.settingsBtn:before{
	background-image: url(../svg/settings.svg);
}
.mainNav .active{
	background-color: #238d55;
}
.mainNav .active:after{
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #ecf0f1;
	right: -7px;
	top: 50%;
	transform: rotate(45deg);
	margin-top: -6px;
}

/* HEADER */
.contentWrapper{
	width: 100%;
	height: 2000px;
}
.contentWrapper header{
	width: 100%;
	height: 70px;
	background-color: #F9F9F9;
	box-shadow: 0 0 5px 0 #999;
	-webkit-box-shadow: 0 0 5px 0 #999;
	padding-left: 290px;
	margin-bottom: 25px;
}
.contentWrapper .content{
	width: 99%;
	padding-left: 290px;
	padding-right: 30px;
}
.contentWrapper .user {
	float: right;
	width: 255px;
	height: 60px;
	margin-right: 15px;
	text-align: right;
}
.contentWrapper .user .welcome{
	width: 200px;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
}
.contentWrapper .user .welcome p{
	margin-bottom: 5px;
	font-size: 0.9em;
	color: #BBB;
}
.contentWrapper .user .welcome span{
	font-size: 1.1em;
	color: #777;
}
.contentWrapper .user .profilePic{
	width: 45px;
	height: 45px;
	background-color: #CCC;
	border: 2px solid #FFF;
	border-radius: 50%;
	float: right;
	margin-top: 12px;
}

.notification{
	width: 100%;
	height: 80px;
	position: relative;
	border-radius: 5px;
	background-color: #F9F9F9;
	border: 1px solid #ebebeb;
	padding-left: 30px;
	padding-top: 12px;
	padding-right: 30px;
	font-size: 1.3em;
	color: #40494b;
	font-weight: lighter;
	line-height: 80px;
	box-sizing: border-box;
}
.notification .description{
	float: left;
	max-width: 70%;
	margin: 0;
	padding: 0;
	height: 60px;
	line-height: 60px;
}
.notification .buttonWrapper{
	max-width: 30%;
	float: right;
}
.notification .close-notification{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #CCC;
	top: 30px;
	right: -30px;
}

/* SETTINGS */

.settings-title{
	font-size: 1.5em;
	margin-top: 25px;
	margin-bottom: 25px;
}
.settings-subtitle{
	font-size: 1.1em;
	margin-top: 40px;
	margin-bottom: 10px;
	color: #444;
}
.name span{
	color: #444;
}
.settings .line .state{
	width: 110px;
	height: 45px;
	border-radius: 8px;
	float: right;
	text-align: center;
	line-height: 25px;
	padding: 10px 5px;
	margin-top: 7px;
	color: #FFF;
}
.settings .line .change{
	background-color: #CCC;
}
.settings .line .inactive{
	color: #BBB;
	background-color: #EEE;
}
.settings .line .active{
	background-color: #279d59;
}

/* FULL & HALF WIDTH DIVS */

.full-width-box{
	width: 100%;
	min-height: 100px;
	border-radius: 5px;
	background-color: #F9F9F9;
	border: 1px solid #ebebeb;
	overflow: hidden;
	margin-top: 25px;
	margin-bottom: 25px;
}
.full-width-container{
	width: 100%;
	display: inline-block;
	clear: both;
	margin-top: 25px;
	margin-bottom: 25px;
}
.half-width-box{
	width: 48%;
	float: left;
	min-height: 100px;
	border-radius: 5px;
	background-color: #F9F9F9;
	border: 1px solid #ebebeb;
	overflow: hidden;
}
.half-width-box:first-child{
	margin-right: 4%;
}
.header-content{
	width: 100%;
	height: 60px;
}
.red-header{
	background-color: #943c56;
}
.blue-header{
	background-color: #416870;
}
.gray-header{
	background-color: #2e3638;
}
.header-content p{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 1.2em;
	color: #FFF;
	padding-left: 25px;
}
.content-box {
	width: 100%;
	padding: 0px 25px 25px 25px;
}

/* HOME DASHBOARD - Overview preview within Half Width Box */

.overview{
}

.line{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #f1f1f1;
	line-height: 60px;
	font-size: 1.1em;
	color: #999;
}
.line .name{
	width: 85%;
	float: left;
	padding-left: 15px;
}
.line .score{
	width: 15%;
	float: left;
	text-align: center;
} 

.view-all{
	width: 100%;
	height: 35px;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #777;
	transition: 1.s;
}
.view-all:hover{
	color: #555;
	transition: 1.s;
}

.resource{
	width: 100%;
	clear: both;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #F9F9F9;
}

.description{
	width: 60%;
	float: left;
	padding-right: 50px;
}
.description .date{
	font-size: 0.85em;
	color: #999;
}
.description .title{
	font-size: 1.4em;
	color: #333;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}
.description .text {
	font-size: 0.95em;
	line-height: 1.2em;
	color: #777;
}
.image{
	width: 25%;
	height: 140px;
	float: left;
	display: inline-block;
	border-radius: 8px;
	overflow: hidden;
	background-color: #EEE;
	border: 1px solid #F9F9F9;
	margin-right: 5%;
}
.resource .buttonWrapper{
	width: 8%;
	float: left;
	margin-top: 45px;
}


/* TEACHER SCORE INPUT */

.score-page-header{
	width: 100%;

}

.score-page-header h1{
	font-size: 1.3em;
	color: #999;
}

.score-page-header h3{
	font-size: 0.9em;
	font-weight: 200;
	padding: 5px 0px;
	color: #999;
}

.score-page-header h1:after{
	content: "| Tuesday 09/11/2016";
	display: inline-block;
	font-size: 0.7em;
	font-weight: 200;
	padding-left: 10px;
	color: #999;
}

.individualScore{
	text-align: center;
	margin: 30px;
}

.individualScore h1{
	font-size: 1.4em;
	font-weight: bold;
	color: #999;
	text-align: center;
	padding: 32px 50px 32px 0px;
	display: inline-block;
}

.scoreForm{
	display: inline-block;
}

.absentBox{
	display: inline-block;
	margin-left: 90px;
	color: #999;
}

.topSpan{
	display:block;
}

input[type=checkbox   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox   ].absentTickBox:not(old) + label{
  display      : block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox   ].absentTickBox:not(old) + label > span{
  display          : block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
  margin: 0 auto;
}

input[type=checkbox   ].absentTickBox:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
  display: block;
}

input[type=checkbox].absentTickBox:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
  display: block;
}

.studentScoreTally{
	margin-top: 0px;
	color: #999;
}

.studentScoreTally span{
	font-weight: bold;
}

.buttonSection{
	text-align: right;
	padding-right: 10px;
}


/* TEACHER SCORE INPUT SUCCESS*/

.full-width-box{
	position: relative;
}

.score-page-success-header{
	text-align: center;
}

.score-page-success-header h1{
	font-size: 1.4em;
	font-weight: bold;
}

.score-page-success-header h1:after{
	content: "Tuesday - 09/11/2016";
	display: block;
	color: #999;
	font-weight: 200;
	font-size: 0.7em;
	padding: 15px 0px 20px 0px;
}

.thumbsUp{
	width: 30px;
	height: 30px;
	background-color: green;
	margin: 10px auto;
}

.classOverview{
	background-color: #51c745;
	padding: 0px 5px !important;
	font-size: 0.7em !important;
	width: auto !important;
	height: 20px !important;
	color: white;
	font-weight: bold;
}

.classOverview:before{
	content: "" !important;
	display: none !important;
}

.editScores{
	position: absolute;
	top: 10px;
	right: 10px;
}

.scoreEdit{
	background-color: transparent;
	font-size: 0.9em !important;
	color: #999;
}

.setScores{
	margin: 0 auto;
	display: inline-block;
}

.setBox1, .setBox2, .setBox3, .setBox4, .setBox5{
	display: inline-block;
	height: 68px;
	width: 94.45px;
	border: 1px solid #e6e6e6;
	text-align: middle;
	font-size: 1.4em;
	color: #d9d9d9;
	padding:20px 40px;
	margin-right: -6px;
}

.setBox1Selected{
	background-color: #d0242a;
	color: white;
	font-weight: bold;
}

.setBox2Selected{
	background-color: #f1b040;
	color: white;
	font-weight: bold;
}

.setBox4Selected{
	background-color: #51c745;
	color: white;
	font-weight: bold;
}


/* TEACHER SCORE INPUT FAILURE */

.inputError:before{
	content: "You're missing Peter Parker's Score";
	display: block;
	color: red;
}

.inputError{
	background-color: rgba(256, 0, 0, 0.2);
	padding: 30px 0px;
}

.setBoxError{
	background-color: white !important;
}
/* SUPPORT */

.support{
	width: 100%;
	clear: both;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #F9F9F9;
}
.support .description{
	width: 85%;
	float: left;
}
.support .description .title{
	width: 100%;
}
.support .description .text{
	width: 100%;
	display: none;
}
.support .buttonWrapper{
	float: left;
	width: 15%;
}



/* MESSAGES */

.message .from{
	font-size: 1.5em;
	float: left;
	max-width: 60%;
}
.message .from span{
	font-weight: lighter;
	margin-right: 10px;
}
.message .received{
	min-width: 30%;
	width: 40%;
	max-width: 50%;
	float: left;
	text-align: right;
	font-size: 1em;
	font-weight: lighter;
	color: #FFF;
	padding-right: 30px;
}
.unread-description{
	color: #999;
}
.unread .header-content{
	background-color: #943c56;
}
.read .header-content{
	background-color: #BBB;
}

/* MESSAGE READING PAGE */

.message-text {
	width: 100%;
}
.message-text img{
	width: 50%;
	margin-left: 60px;
	margin-bottom: 50px;
	float: right;
}
.message-text .date{
	font-size: 0.85em;
	color: #999;
}
.message-text .title{
	font-size: 1.4em;
	color: #333;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}
.message-text .text {
	font-size: 1.05em;
	line-height: 1.4em;
	color: #777;
}



/* GENERAL BUTTONS STYLING */
/* I brought  all these Styles to the bottom of the stylesheet cause then there's no way
for them to be overwritten by another class, as they are supposed to be the "Master Style" */
/* SCORING SHEET */

.scoreForm{
	padding-top: 25px;
}

.scoreForm:focus{
	transition: .1s;
	-webkit-box-shadow: 0 0 10px 0 #d6d7f3;
	box-shadow: 0 0 10px 0 #d6d7f3;
	outline: #CCC;
}

.boxes label{
	padding: 20px 40px;
	border: 1px solid #e6e6e6;
	color: #d9d9d9;
	font-size: 1.4em;
	background-color: #f9f9f9;
	margin-right: -6px;
}

.radioBox{
	display: none;
}

.boxes {
	display:inline-block;
}

.box1 label:hover{
	background-color: #de6b70;
} 

.box2 label:hover{
	background-color: #f5c36e;
} 

.box3 label:hover{
	background-color: #f4ed85;
} 

.box4 label:hover{
	background-color: #94db8d;
} 

.box5 label:hover{
	background-color: #94db8d;
} 

input[type=radio].score1:checked + label {
	background-color: #d0242a;
	color: white;
	font-weight: bold;
}

input[type=radio].score2:checked + label {
	background-color: #f1b040;
	color: white;
	font-weight: bold;
}

input[type=radio].score3:checked + label {
	background-color: #f1e740;
	color: white;
	font-weight: bold;
}

input[type=radio].score4:checked + label {
	background-color: #51c745;
	color: white;
	font-weight: bold;
}

input[type=radio].score5:checked + label {
	background-color: #51c745;
	color: white;
	font-weight: bold;
}



/* BUTTONS */

.buttonWrapper{
	height: 45px;
}

.buttonSpace{
	display: inline;
}

button{
	border: none;
	font-family: 'Open Sans', sans-serif;
	outline: none; /* disables that blue border when btn is clicked */
	text-align: center;
}

.buttons{
	width: 150px;
	padding: 5px 18px;
	margin-left: 5px;
	border-radius: 5px;
	position:relative;
	min-height: 41px;
	text-align: center;
	line-height: 39px;
	font-size: 1em;
}
.buttons:focus{
	outline: none; /* disables that blue border when btn is clicked */
}

.buttons p{
	display: inline;
	position: relative;
	font-size: 1.1em;
	text-decoration: none;
}

/* DELETE BUTTON */

.deleteBtn:before{
	content: "";
	display: inline-block;
	background-image: url(../img/deleteImg.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.backBtn:before{
	content: "";
	display: inline-block;
	background-image: url(../img/backImg.png);
	background-repeat: no-repeat;
	background-position: center 8px;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.deleteBtn, .cancelBtn, .backBtn{
	background-color: #eaeaea;
	color: #a09f9f;
	border-bottom: 5px solid #cdcdcd;
}

.deleteBtn:hover, .cancelBtn:hover, .backBtn:hover{
	background-color: #f6f6f6;
	border-bottom: 5px solid #d7d7d7;
	cursor: pointer;
}


/* EDIT BUTTON */

.editBtn:before{
	content: "";
	display: inline-block;
	background-image: url(../img/editImg.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.editBtn{
	background-color: #888c88;
	color: #ffffff;
	border-bottom: 5px solid #6d706d;
}

.editBtn:hover{
	background-color: #939792;
	border-bottom: 5px solid #767a78;
	cursor: pointer;
}


/* CONFIRM BUTTON */

.confirmBtn:before{
	content: "";
	display: inline-block;
	background-image: url(../img/confirmImg.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.confirmBtn{
	width: 150px;
	background-color: #27a627;
	color: #ffffff;
	border-bottom: 5px solid #219621;
}

.confirmBtn:hover{
	background-color: #36b234;
	border-bottom: 5px solid #31a02b;
	cursor: pointer;
}

/* NOTIFICATION BUTTON */

.notificationBtn{
	background-color: #40494b;
	color: #ffffff;
	border-bottom: 5px solid #262d2f;
}
.notificationBtn p{
	font-size: 0.9em;
	height: 20px;
}

.notificationBtn:hover{
	background-color: #384042;
	cursor: pointer;
}

/* GO BACK BUTTON */
.go-back{
	width: 200px;
	height: 45px;
	background-color: #CCC;
	color: #ffffff;
	border-bottom: 5px solid #BBB;
	cursor: pointer;
}


/* BUTTON ACTIVE STATE */

.buttons:active{
	border-bottom-width: 1px;
	margin-top:4px;
}


/* TEXT AREA INPUT */

.textArea{
	height: 45px;
	background-color: #FFF;
	border: 1px solid #F0F0F0;
	border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 15px;
	transition: .1s;
	font-size: 1.5em;
	color: #666;
	padding-left: 10px;
}

.textArea:focus{
	transition: .1s;
	-webkit-box-shadow: 0 0 10px 0 #d6d7f3;
	box-shadow: 0 0 10px 0 #d6d7f3;
	outline: #CCC;
}


@media (min-width: 1220px){
	.individualScore{
		margin: 30px 0px;
	}
}
